@import "variables.scss";
@import "mixins.scss";
@import "sidebar.scss";
@import "about.scss";
@import "projects.scss";
@import "resume.scss";
@import "contact.scss";

body{
  background-color: $lightgray;
  color: $darkgray;
}



section{
  margin: 5% 14%;
}

@import "media.scss";
